#include "fmm_c.h"

#if FMM_ERRORCONTROL_STAGE > 0
#  if FMM_MAXNMULTIPOLES > BBB
   const fmm_float_t fmmec_1d_pAAA[] = {
#  include "include/fmmec_1d_pAAA.h"
   };

   const fmm_float_t *get_fmmec_1d_pAAA()
   {
     return fmmec_1d_pAAA;
   }
#  endif
#endif
