*.a
*.aux
*.bbl
*.blg
*.log
*.o
*~
*.dat
.deps
.libs
ChangeLog
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build*
config.cache
config.h
config.log
config.status
configure
stamp-h1
tags
.cproject
.project
*.in
create_rhs
vtk/CMakeFiles/*
vtk/CMakeCache.txt
*.cmake
vtk/twogrid/*
.autotools
.settings/